{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">NeedCart</h1>
      <p>NeedCart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
          <br>The service competes primarily with domestic rival Snapdeal.As of FY23, NeedCart held a 48% market share in the Indian e-commerce industry.NeedCart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>We Care-</h2>
        <p>Our culture of care extends to our people, stakeholders, customers and the planet! We do not believe in a one size fits all strategy. Our benefits and care policies are driven by empathy and customised to the unique needs of individual Flipsters. Because when Flipsters and their families are cared for, they can focus on doing their best work. We put your hopes, dreams and endeavours first - always.</p>
        <p><a class="btn btn-secondary " href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Our Team-</h2>
        <p>The best people make the best teams. And we put all
our efforts into finding the right people that fit into
our high-performing inclusive teams. Everyone has a
voice on the table and diversity of thoughts, styles
and actions is celebrated. From a category leader to a
wishmaster, we are all bound together and guided by
our values of audacity, bias for action, customer-first,
integrity and inclusion.

 </p>
        <p><a class="btn btn-secondary " href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Journey-</h2>
        <p>Our journey of building India's biggest unicorn
start-up has been full of successes, but also failures
and learning from them. That's why there's calculated
risk-taking, a high willingness to learn and improvise,
and a growth orientation built into everything we do.
Whether it be opening a new warehouse, or making
our mobile app a bit more consumer friendly, we're
always experimenting, learning and growing!</p>
        <p><a class="btn btn-secondary " href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2024</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}